{% extends 'base.html.twig' %}

{% block title %}Liste des energies{% endblock %}

{% block body %}
    <h1>Liste des energies</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for energy_option in energy_options %}
            <tr>
                <td>{{ energy_option.id }}</td>
                <td>{{ energy_option.name }} <span class="badge bg-secondary">{{ energy_option.car | length}}</span></td>
                <td>
                    <a class="btn btn-primary" href="{{ path('energy_option_show', {'id': energy_option.id}) }}">Afficher</a>
                    <a class="btn btn-secondary" href="{{ path('energy_option_edit', {'id': energy_option.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun type d'energie trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('energy_option_new') }}">Ajouter</a>
{% endblock %}
