{% extends 'base.html.twig' %}

{% block title %}Hello CarController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
	{# {{ include('car/_form.html.twig') }} #}
		<h1>Nos voitures</h1>
		<div class="row justify-content-center">
			{% for car in carList %}
				<div class="col-3 m-2 car">
					<h2>{{ car.brand }}
						{% for energyOpt in car.energyOptions %}
							<span class="badge bg-warning rounded-pill fs-6">{{ energyOpt }}</span>
						{% endfor %}
					</h2>
					<p>{{car.model}}</p>
					<a href="{{path('carInfo',{id: car.id, slug: car.slug})}}" class="btn btn-success">Voir plus</a>

				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
